---
# Requires clang-format 20 or newer
# Install with "pip install clang-format" or "pip3 install clang-format" for example

Language: Cpp

BasedOnStyle: Mozilla

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
FixNamespaceComments: true
IfMacros:
  - KJ_IF_MAYBE
  - SIMD_IF_CONSTEXPR
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '".*"'
    Priority: 0
  - Regex: "<(tsimd|time_measurement)\\.H>"
    Priority: 1
  - Regex: "<.*>"
    Priority: 2
IndentCaseLabels: false
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceBeforeCpp11BracedList: true
Standard: Cpp11
---

