---
CompileFlags:
  Add: [
    -march=native, -std=c++11,
    -Wall, -Wextra, -pedantic, -Wpedantic, -Werror,
    -Wshadow, -Wnon-virtual-dtor, -Wcast-align, -Wunused, -Woverloaded-virtual,
    -Wsign-compare, -Wmisleading-indentation, -Wnull-dereference, -Wformat=2,
    -Wimplicit-fallthrough,
    -Wno-format-nonliteral, -Wno-cast-align,
    -pthread,
    -D_CRT_SECURE_CPP_OVERLOAD_STANDARD_NAMES=1, -D_CRT_SECURE_NO_WARNINGS
  ]