.vscode/
COMPILE_AND_TEST/
autotest/
build*/
html/
latex/
*.tmp
*.o
*.ilk
*.pdb
*.exe
*.bc
*.ii
*.s
*.d
nativetest
simdmasktest
simdRadixSortGeneric
simdvectest
styleExamples
tsimdtest
simdvecautotest0
simdvecautotest1
simdvecautotestM
BaselineDemo
IdealScale
Tilt
TiltSearchDemo
warpingSIMDSmallTest
warpingSIMDTest
tsimd_sh.H
