.vscode/
COMPILE_AND_TEST/
autotest*/
build*/
docs/html/
latex/
*.tmp
*.o
*.ilk
*.pdb
*.exe
*.bc
*.ii
*.s
*.d
*.tar.gz
nativetest
simdmasktest
simdRadixSortGeneric
simdvectest
styleExamples
tsimdtest
hacctest
simdvecautotest0
simdvecautotest1
simdvecautotestM
simdvecautotest_load_store
transposeTestAutoGen
verticalBitonicSortTest
tsimd_sh.H
transpose_inplace_autogen_stat.txt
